#cart-page {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: calc(10px + 2vmin);
    color: white;  
    min-height: 100vh;
}

#checkout-interface {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
    width: 100%;
}

#subtotal {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#checkout-button, #login-button {
    color: black;
    background-color: white;
    padding: .3rem;
    font-size: 1rem;
    font-weight: bold;
    border: 4px solid rgb(38, 145, 227);
    border-radius: 4px;
    text-decoration: none;
}

#login-button {
    margin: 1rem;
    border-color: rgb(38, 145, 227);
}

#checkout-button:hover {
    cursor: pointer;
}

#checkout-button:active {
    cursor: pointer;
    color: red;
}

#checkout-button:disabled {
    cursor:auto;
    color: grey;
}

.bluelink {
    color:rgb(38, 145, 227);
}

.bluelink:visited {
    color:rgb(38, 145, 227);
}

@media screen and (width > 900px) {
    #cart-page {
        display: grid;
        grid-template-columns: 1.75fr 1fr;
        grid-template-areas: "details interface";
    }

    #checkout-interface {
        display: block;
        height: 100%;
        grid-area: interface;
        border-bottom: 0px;
        border-left: 1px solid white;
    }

    #ordered-products-details {
        height: 100%;
        grid-area: details;
    }

    .edge {
        margin-left: 1rem;
    }
}