.product-card {
    background-color: beige;
    color: black;
    border-radius: 5px;
    margin: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.product-image {
    max-width: 37vw;
}